Repository marcusolsson/obsidian-projects, pull requests merged in 2024-06, with the labels that each got.

#887 Downgrade svelte-dnd-action
  package-lock.json
  package.json
Labels: kind/bug

#891 Show icon on view toolbar field picker
  src/ui/views/Board/BoardOptions.svelte
  src/ui/views/Gallery/GalleryOptionsProvider.svelte
  src/ui/views/Table/TableView.svelte
  src/ui/views/Table/components/DataGrid/GridHeader/GridColumnHeader.svelte
  src/ui/views/Table/components/SwitchSelect/SwitchSelect.svelte
  src/ui/views/helpers.ts
Labels: area/views, kind/enhancement

#895 Fix Enter key activates read-only cell editing
  src/ui/views/Table/components/DataGrid/GridCell/GridCell.svelte
Labels: kind/bug, area/view/table

#896 Color input accent
  src/obsidianProjects.d.ts
  src/ui/app/toolbar/viewOptions/color/helpers.ts
Labels: kind/enhancement, area/filtering

#873 Fix for Obsidian 1.6.x compatibility
  src/main.ts
  src/ui/app/toolbar/viewOptions/PopoverButton.svelte
  src/view.ts
  styles.css
Labels: kind/bug, kind/cleanup, area/core, area/filtering

#898 Enhance hover support
  src/lib/stores/translations/en.json
  src/lib/stores/translations/zh-CN.json
  src/main.ts
  src/ui/components/CardMetadata/CardMetadata.svelte
  src/ui/components/CardMetadata/Text.svelte
  src/ui/components/InternalLink.svelte
  src/ui/views/Board/components/Board/CardList.svelte
  src/ui/views/Board/components/Board/ColumnHeader.svelte
  src/ui/views/Calendar/components/Calendar/EventList.svelte
  src/ui/views/Gallery/GalleryView.svelte
  src/ui/views/Table/components/DataGrid/GridCell/GridListCell/RichTextTag.svelte
  src/ui/views/Table/components/DataGrid/GridCell/GridTextCell/TextLabel.svelte
  src/ui/views/Table/components/DataGrid/GridCellGroup.svelte
  src/ui/views/Table/components/DataGrid/GridRow.svelte
  src/ui/views/helpers.ts
Labels: kind/feature, area/views

#905 Fix encoding non-leading fences sections
  src/lib/metadata/encode.test.ts
  src/lib/metadata/encode.ts
Labels: kind/bug, area/datasource/frontmatter

#908 Fix changing view on Android devides
  src/ui/app/toolbar/ViewItem.svelte
  src/ui/app/toolbar/ViewSelect.svelte
Labels: kind/bug, area/views
